body {
  padding-bottom: 40px;
  background: #fff;
}

/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 700px;
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  /*background-image: url(/img/squairy_light.png);*/
  border-radius: 8px;
  box-shadow: inset 0px 0px 8px rgba(0,0,0,0.2);
  padding: 40px;
  margin: 30px 0;
  text-align: center;
}
.jumbotron h1 {
  font-size: 72px;
  line-height: 1;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 60px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

.navbar-bottom-margin {
  margin-bottom: 20px;
}

.row .control-group label {
  font-weight: 700;
}
